{
    // To create your own application, go https://discordapp.com/developers/applications.
    // Paste your credential to this file, and copy to config.json.
    // And MUST BE Delete this comments in config.json

    "client_id": "<your-application-client_id-here>",
    "token": "<your-bot-token-here>"
}
